<% provide(:title, @game.name) %>
<div class="jumbotron">
  <h1>Game Profile</h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="game_info">
        <% @player = @game.players.find_by(assassin_id: current_user.id) %>
        <h4>
        	Name: <%= @game.name %>
          </br>
          </br>
          Description: <%= @game.description %>
          </br>
          </br>
          Admin: <%= link_to @game.admin.name, @game.admin %>
          </br>
          </br>
          Status: <%= @game.status %>
          <% if @game.in_progress %>
            <br>
            <br>
            Current Target: <%= link_to @player.target.name, @player.target.assassin %>
          <% end %>
        </h4>
      <% if !@player && @game.status == "Enrolling" %>
        </br>
        <div class="center" >
          <%= link_to "Join Game", join_game_path(@game), method: :put, class: "btn btn-lg btn-primary center" %>
        </div>
      <% end %>
      <% if @game.admin == current_user && @game.status == "Enrolling" %>
        </br>
        <div class="center" >
          <%= link_to "Start Game", start_game_path(@game), method: :put, class: "btn btn-lg btn-primary center" %>
        </div>
      <% end %>
      </section>
    </aside>
  </div>
</div>

<div class="jumbotron">
  <% if @game.players %>
    </br>
    <h1 class="center">Scoreboard</h1>
    <table id="players">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Kills</th>
        </tr>
      </thead>
      <tbody>
        <% @game.players.each do |player| %>
          <tr>
            <td><%= link_to player.assassin.name, player.assassin %></td>
            <td><%= player.status %></td>
            <td><%= player.kills %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>