<% provide(:title, @game.name) %>
<div class="jumbotron">
  <h1>Game Profile</h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="game_info">
        <h4>
        	Name: <%= @game.name %>
          </br>
          </br>
          Description: <%= @game.description %>
          </br>
          </br>
          Admin: <%= @game.admin.name %>
          </br>
          </br>
          Status: <%= @game.status %>
        </h4>
      <% unless @game.players.find_by(assassin_id: current_user.id) %>
        </br>
        <div class="center" >
          <%= link_to "join", join_game_path(@game), method: :put, class: "btn btn-lg btn-primary center" %>
        </div>
      <% end %>
      </section>
    </aside>
  </div>
</div>

<div class="jumbotron">
  <% if @game.players %>
    </br>
    <h1 class="center">Scoreboard</h1>
    <table id="players">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Kills</th>
        </tr>
      </thead>
      <tbody>
        <% @game.players.each do |player| %>
          <tr>
            <td><%= link_to player.assassin.name, player.assassin %></td>
            <td><%= player.status %></td>
            <td><%= player.kills %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>